body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100vh;
    background: linear-gradient(90deg, #01004e, #860213);
}

.slider-thumb::before {
    position: absolute;
    content: "";
    left: 30%;
    top: 20%;
    width: 450px;
    height: 450px;
    background: #17141d;
    border-radius: 62% 47% 82% 35% / 45% 45% 80% 66%;
    will-change: border-radius, transform, opacity;
    animation: sliderShape 5s linear infinite;
    display: block;
    z-index: -1;
    -webkit-animation: sliderShape 10s linear infinite;
}
@keyframes sliderShape {
    0%, 100% {
        border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
        transform: translate3d(0, 0, 0) rotateZ(0.01deg);
    }
    34% {
        border-radius: 70% 30% 46% 54% / 30% 29% 71% 70%;
        transform: translate3d(0, 5px, 0) rotateZ(0.01deg);
    }
    50% {
        transform: translate3d(0, 0, 0) rotateZ(0.01deg);
    }
    67% {
        border-radius: 100% 60% 60% 100% / 100% 100% 60% 60%;
        transform: translate3d(0, -3px, 0) rotateZ(0.01deg);
    }
}

.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1a1a1a;
    padding: 10px 20px;
    margin: 10px 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 2rem;
}

.logo img {
    width: 50px;
    height: 50px;
}

.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
}

.main-content a {
    text-decoration: none;
    margin: 20px;
}

.central {
    background-color: #1a1a1a;
    margin: 0;
    padding: 0;
    border-radius: 10px;
}

.card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 300px;
    height: 400px;
    background-color: #1a1a1a;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
    transition: box-shadow 0.3s, transform 0.3s;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card img {
    width: 100%;
    height: 200px;
    border-radius: 10px;
    height: 100%;
    object-fit: cover;
    opacity: 0.2;
    transition: opacity 0.2s ease;
}

.card img:hover {
    opacity: 1;
}

.card-alunos-text,
.card-professores-text,
.card-turmas-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    padding: 1rem;
    padding-right: 2rem;
    position: absolute;
    bottom: 0;
    left: 0;
    color: aliceblue;
    z-index: 1;
    opacity: 1;
}

ul {
    padding: 0;
}

li {
    list-style: none;
    display: inline-block;
    margin-right: 20px;
    font-size: 1.2em;
    color: aliceblue;
    transition: color 0.3s ease;
}

li:hover {
    color: #007bff;
}

a {
    text-decoration: none;
    margin: 0;
    padding: 0;
}

h1, h2, p {
    margin: 0;
    padding: 0;
}